<!DOCTYPE html>
<html>
<head>
  <title>Microblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<div class="container">

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= link_to "Home" , root_path %>

<% if login_signed_in? %>
  <%= link_to "My Profile" , profile_path(@current_user) %>
  <%= link_to "My Friends" , friends_path(@current_user) %>
  <%= link_to "New Message" , message_path(@current_user) %>
  <%= link_to("Log Out", destroy_login_session_path, :method => :delete) %>
<% end %>


<%= yield %>
</div>

</body>
</html>
